## Arthematic operators:

In [137]:
#arthematic operations
x=2+2#addition
print(x)

4

In [138]:
x=5-2#substraction
print(x)
y=3*4#Multiplication
print(y)
z=5**2#Power
print(z)
m=5%2#remainder
print(m)
x=5/3#float division
print(x)
x=5//2#interger division
print(x)

3
12
25
1

In [139]:
5*2+4

14

In [140]:
5>2

True

In [141]:
6<=5

False

## Strings

In [142]:
"hii"

'hii'

In [143]:
s="dhedges"
print(s)#result
s#output

dhedges

'dhedges'

In [144]:
#string formatting
x="R"
print("st {} tutorial".format(x))

st R tutorial

In [145]:
x="SQL"
print("st {} tutorial".format(x))

st SQL tutorial

In [146]:
#for adding multiple variables.
print("st {} tutorial {}.".format(x,s))

st SQL tutorial dhedges.

In [147]:
#(len) length function for fingding the length of our string.
#counts the space also.
x=len(s)
print(x)

7

In [148]:
#replace function
#syntax: string_name("original word","new word")
#it will not change the original string
#but if you want u can store the new value to another string variable.
s.replace("dge","Mugdha@")

'dheMugdha@s'

In [149]:
m=s.replace("dge","Mugdha@")
print("m :",m)#copy string
print("s :",s)#old string

m : dheMugdha@s
s : dhedges

In [150]:
##string index and string slicising
#extractng any string character from an particular position
#it is known as string indexing or string slicing.
#python indexing starts with 0
s[1]

'h'

In [151]:
#for getting a range of elements
s[2:5] # lower bound included and upper bound excluded.
# it will print the element present in 2,3,4 and not 5.

'edg'

In [152]:
s[4:6]

'ge'

In [153]:
#it also supports -ve indexing
#-1 means last character -2 secondlast and so on
s[-1]

's'

In [154]:
#while slicing we can also skip the elements
s[:5] #it will print all the elemet from start till 4

'dhedg'

In [155]:
s[5:]#print all character from 5 till end

'es'

In [156]:
#alternate counting
#step arguments
s[::2]#from starting till end skipping alternating character.

'degs'

In [157]:
#to know the type of variable
print(type(s))
print(type(x))

<class 'str'>
<class 'int'>