# Arithematic Operators
Arithematic Operators are used for performing basic arithematic operations in Python.

## 1. Addition Operator
Addition operator adds two values.
### x+y

In [2]:
# Adding two numbers
5+8

13

In [3]:
#Adding two numbers
100+246

346

## 2. Subtraction Operator
Subtraction operator subtracts one value from the other.
### x-y

In [4]:
# Subtracting
50-46

4

In [5]:
# Subtracting
2867-365

2502

## 3. Multiplication Operator
Multiplication operator multiplies two values.
### x*y

In [6]:
#multiplies two values
45*34

1530

In [7]:
387*4

1548

## 4. Dividend Operator
Dividend operator divides one operand by another.
### x/y

In [8]:
45/3

15.0

In [9]:
764/56

13.642857142857142

## 5. Modulus Operator
Modulus operator returns remainder of the division
### x%y

In [10]:
456%23

19

In [11]:
87645%8

5

## 6. Exponent Operator
Exponent Operator raises the power of left operand to the right operand.
### x**y

In [12]:
7**4

2401

In [13]:
32**3

32768

## 7. Floor Division Operator
Floor division operator returns quotient rounded off to the nearest integer.
### x//y

In [14]:
764//56

13

In [16]:
8746//14

624

# Assignment Operators
Assignment operators are used to assign a value to the variable.

## 1. Equals to (=) Operator
Equals to (=) operator assigne the value of right hand operand to the left hand operand.

In [17]:
x = 7
y = 3.65

## 2. Add Equal to (+=) Operator
Add equal to (+=) Operator adds right hand operand to the left hand operand and assign the result to the left hand operand.
###  x+=y       x=x+y

In [21]:
x = 7
y = 4
x+=y
x

11

## 3. Subtract Equal to (-=) Operator
Subtract equal to (-=) operator subtracts right hand operand from the left hand operand and assign the result to the left hand operand.
### x-=y  x=x-y

In [22]:
x = 45
y = 12
x-=y
x

33

## 4. Mutliply Equal to (*=) Operator
Multiply equal to (*=) operator multiplies right hand operand by left hand operand and assign the result to the left hand operand.
### x*=y x=x*y

In [23]:
x = 23
y = 4
x*=y
x

92

## 5. Divide Equal to (/=) Operator
Divide equal to (/=) operator divides left operand by right operand and assign the result to left hand operand.
### x/=y    x=x/y

In [24]:
x = 35
y = 5
x/=y
x

7.0

## 6. Modulus Equal to (%=) Operator
Modulus equal to (%=) operator takes the module of the left operand and, using the right operand, stores the result in the left operand.
### x%=y    x=x%y

In [25]:
x = 456
y = 23
x%=y
x

19

## 7. Exponent Equal to (**=) Operator
Exponent equal to (****=) operator raises the exponential power of the left operand to the value of the right operand, storing the result in the left operand.
### x**=y   x=x**y

In [26]:
x = 7
y = 4
x**=y
x

2401

## 8. Floor Equal to (//=) Operator
Floor equal to (//=) operator  divides the value found in the left operand by the value of the right operand. The integer result will be placed in the left operand.
### x//=y    x=x//y

In [27]:
x = 764
y = 56
x//=y
x

13

# Ninja Trick!!!

In [28]:
x = 10
x+5
x

10

In [29]:
x = 10
x+=5
x

15